# Composer
/vendor/

# IDE
.idea/
.vscode/

# PHPUnit
.phpunit.cache/

# Logs
/storage/logs/*
!/storage/logs/.gitkeep

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

/storage/framework/*
!/storage/framework/.gitkeep

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Composer Lock
composer.lock